# Azure pipeline to deploy Docker image from Docker Hub to Azure Web App
trigger: none  # Triggered via REST API from GitHub Actions

variables:
  azureServiceConnectionId: '1a9fd121-57a1-4599-9a24-d2d1b348b8a1'
  webAppName: 'final-python'
  vmImageName: 'ubuntu-latest'
  environmentName: 'final-python'
  # Docker image to deploy (replace with actual tag)
  dockerImage: '$(DOCKERHUB_USER)/devopscourse:$(Build.RequestedFor)'

stages:
- stage: Deploy
  displayName: Deploy Web App from Docker Hub
  jobs:
  - deployment: DeployContainer
    pool:
      vmImage: $(vmImageName)
    environment: $(environmentName)
    strategy:
      runOnce:
        deploy:
          steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.11'
            displayName: 'Use Python version'

          - task: AzureWebAppContainer@1
            displayName: 'Deploy Azure Web App (Container)'
            inputs:
              azureSubscription: $(azureServiceConnectionId)
              appName: $(webAppName)
              imageName: $(dockerImage)