name: docker-build.yml
on:
  push:
    branches:
      - dev
  pull_request:
    types: [opened]
  workflow_dispatch:
jobs:
  build:
    name: docker-build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: login-docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}
      - name: build-image
        run: docker build -t ${{ secrets.DOCKERHUB_USER }}/devopscourse:${{ github.actor }}-${{ github.run_number }} .
      - name: push-image
        run: docker push ${{ secrets.DOCKERHUB_USER }}/devopscourse:${{ github.actor }}-${{ github.run_number }}

  deploy:
    name: deploy-to-azure
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'final-python'
          images: '${{ secrets.DOCKERHUB_USER }}/devopscourse:${{ github.actor }}-${{ github.run_number }}'