name: docker-build.yml
on:
  push:
    branches:
      - Dockerfile
jobs:
  build:
    name: docker-build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
    steps:
      - uses: actions/checkout@v4
      - name: login-docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build-image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/devopscourse:team1-${{ github.actor }}-${{ github.run_number }} .
      - name: push-image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/devopscourse:team1-${{ github.actor }}-${{ github.run_number }}