name: docker-build.yml
on:
  push:
    branches:
      - Dockerfile
jobs:
  build:
    name: docker-build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: login-docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}
      - name: build-image
      - name: push-image